In [55]:
from bs4 import BeautifulSoup
import requests

In [56]:
url = "https://www.usinflationcalculator.com/inflation/current-inflation-rates/"

html_content=requests.get(url).text

soup=BeautifulSoup(html_content, 'lxml')

table=soup.find("table")

search1 = []

for td in table.find("tr").find_all("td"):
    search1.append(td.text)

In [57]:
search1

['Year',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'Ave']

In [68]:
search2 = []

for td in soup.find_all('td', {'align': 'right', 'height': '17'}):
    search2.append(td.text)

In [69]:
search2

['Year',
 '2022',
 '2021',
 '2020',
 '2019',
 '2018',
 '2017',
 '2016',
 '2015',
 '2014',
 '2013',
 '2012',
 '2011',
 '2010',
 '2009',
 '2008',
 '2007',
 '2006',
 '2005',
 '2004',
 '2003',
 '2002',
 '2001',
 '2000']

In [73]:
import pandas as pd
df = pd.DataFrame(search2[1:], columns=['Year'])
df

    Year
0   2022
1   2021
2   2020
3   2019
4   2018
5   2017
6   2016
7   2015
8   2014
9   2013
10  2012
11  2011
12  2010
13  2009
14  2008
15  2007
16  2006
17  2005
18  2004
19  2003
20  2002
21  2001
22  2000

In [75]:
df.to_csv('test_crawler.csv')